.custom-card{
    background-color: #454545;
    border-radius: 20px;
}
.card-header{
    background-color: #3E3E3E;
    padding: 27px 48px;
    border-radius: 20px 20px 0px 0px;
}

.card-body{
    padding: 15px 48px; 
}