<app-app-card>
    <div class="card-header">
        <button class="register-btn" (click)="abrirModal = true">
            Registrar
            <i class="pi pi-plus"></i>
        </button>
        <div class="search-input">
            <span class="p-input-icon-right align-end">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Filtro" />
            </span>
        </div>
    </div>
    <div class="card-body">
        <h1>aqui vai ficar uma tabela</h1>
    </div>
</app-app-card>
<app-app-modal *ngIf="abrirModal" (visibleChange)="updateVisibility($event)">
    <div class="card-body">
        <input type="text" pInputText />
        <input type="text" pInputText />
        <input type="text" pInputText />
        <input type="text" pInputText />
    </div>
</app-app-modal>